<div class="choc-service choc-service-code">
	<div class="ui centered grid">
		<div class="eight wide column choc-service-code-column">
			<div class="ui grid">
				<div class="sixteen wide column choc-service-header">
					<i class="icon black remove" onclick="Choc.Picker.code.destroy();"></i>
					<div class="ui header choc-service-code-header"></div>
				</div>
				<div class="sixteen wide column choc-service-content choc-service-code-body"></div>
				<div class="sixteen wide column choc-service-footer choc-service-code-footer">
					<div class="ui blue button choc-service-code-confirm" onclick="Choc.Picker.code.go();">Conferma</div>
					<div class="ui red button" onclick='Choc.Picker.code.destroy();'>Annulla</div>
				</div>
			</div>
		</div>
	</div>
</div>