<div class="choc-service choc-service-form">
	<div class="ui centered grid">
		<div class="eight wide column choc-service-form-column">
			<div class="ui grid">
				<div class="sixteen wide column choc-service-header">
					<i class="icon black remove" onclick="Choc.Picker.form.destroy();"></i>
					<div class="ui header choc-service-form-header"></div>
				</div>
				<div class="sixteen wide column choc-service-content choc-service-form-form"></div>
			</div>
		</div>
	</div>
</div>